@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(149, 127, 172);
  font-family: 'Raleway', 'open-sans';
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  display: flex;
  flex-direction: column;
  justify-items: start;
}